@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme) important;
@import 'tailwindcss/utilities.css' layer(utilities) important;

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is([data-theme="dark"] *));

/*
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8220ff;
  --ifm-color-primary-dark: #741cd9;
  --ifm-color-primary-darker: #6619b3;
  --ifm-color-primary-darkest: #4d127a;
  --ifm-color-primary-light: #9446ff;
  --ifm-color-primary-lighter: #a76cff;
  --ifm-color-primary-lightest: #c3a6ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b388ff;
  --ifm-color-primary-dark: #a259ff;
  --ifm-color-primary-darker: #9446ff;
  --ifm-color-primary-darkest: #8220ff;
  --ifm-color-primary-light: #c3a6ff;
  --ifm-color-primary-lighter: #e0ccff;
  --ifm-color-primary-lightest: #f3eaff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Sidebar Method labels */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: 'get';
  background-color: var(--ifm-color-primary);
}

.put > .menu__link::before {
  content: 'put';
  background-color: var(--openapi-code-blue);
}

.post > .menu__link::before {
  content: 'post';
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: 'del';
  background-color: var(--openapi-code-red);
}

.patch > .menu__link::before {
  content: 'patch';
  background-color: var(--openapi-code-orange);
}