name: Update Release Notes

on:
  schedule:
    # Run the script daily (adjust frequency as needed)
    - cron: "0 0 * * *"
  workflow_dispatch: # Allow manual trigger
  repository_dispatch: # Allow trigger from other repositories
    types: [backend_commit, frontend_commit]
  push:
    branches:
      - main # Trigger on push to the main/dev branch

jobs:
  update_release_notes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

    # - name: Run the release notes script
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   run: |
    #     python docs/scripts/update_commits.py

# ADD TO FILE TO .GITHUB/WORKFLOWS IN FRONTEND AND PLATFORM
# name: Trigger Release Notes Update

# jobs:
#   trigger_update:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Trigger repository_dispatch event
#       run: |
#         curl -X POST \
#         -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
#         -d '{"event_type": "backend_commit"}' \
#         https://api.github.com/repos/plexicus/docs/dispatches
